* {
	text-align: center; 
}

body {
	/*background-image: url(file:///C:/Users/Gladys/Downloads/undefined%20-%20Imgur.jpg);*/
	background-image: url("https://cdn130.picsart.com/327277385049201.jpg?type=webp&to=min&r=640");
	backdrop-filter: blur(10px);
	padding: 20px 20px 20px 20px;
}

.container-fluid {
	text-align: center;
	padding:  10px 10px;
	font-family: 'Josefin Sans', 'sans-serif', !important;
	font-weight: bolder;
}

.nav-item :hover {
	background-color: rgb(255, 183, 86);
	border: solid;
	border-color: rgb(255, 183, 86);
	border-radius: 20px;
	padding: 5px 5px;
}

#top_page {
	padding: 30px 20px 50px;
}

.btn-outline-warning, .btn-outline-warning:hover, .btn-outline-warning:active, .btn-outline-warning:visited {
    color: rgb(168, 134, 187) !important;
    border-radius: 20px;
    border-width: 3.5px;
    margin: 20px;
}

.btn-outline-warning:hover {
	color: rgb(168, 134, 187);
}

/*.btn-outline-info :hover {
	border-color: rgb(168, 134, 187);
	background-color: rgb(168, 134, 187);
}*/

#title_of_the_page {
	text-align: center;
	font-size: 120px;
	font-family: 'IM Fell DW Pica SC', 'serif';
	font-weight: 40%;
	text-align: center;
}

h2 {
	color: black;
	font-family: 'Josefin Sans', 'sans-serif';
}

#h2p {
	font-family: 'Josefin Sans', 'sans-serif';
}

.toppart {
	font-size: 20px;
}

img {
	border-radius: 5%;
}

#h23 {
	font-family: 'Josefin Sans', 'sans-serif';
}

.reviews {
	font-family: 'Josefin Sans', 'sans-serif';
}


#input {
	border-radius: 5px;
	border-width: 3px;
	border-color: rgb(255, 183, 86);
	background-color: rgb(255, 183, 86);
	color: rgb(168, 134, 187);
}

.select {
	padding: 10px 10px;
	border-radius: 5px;
	border-width: 3px;
	border-color: rgb(255, 183, 86);
	background-color: rgb(255, 183, 86);
	color: rgb(168, 134, 187);
}

#gender {
	margin: 10px;
}

#button {
	border-radius: 5px;
	border-width: 3px;
	border-color: rgb(255, 183, 86);
	background-color: rgb(255, 183, 86);
	color: rgb(168, 134, 187);
	margin: 10px;
}
